{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "semi": true,
    "tabWidth": 2,
    "printWidth": 70,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false
}